main {
    bottom: 0px;
}

.sidebar__liner {
    bottom: 0px;
}

.list__item__column--right button.context-menu-trigger {
    width: 135px;
    background: #08d58f;
    border-color: #08d58f;
    height: 40px;
    margin: 0 0 0 2.5rem;
}

.list__item__column--right button.context-menu-trigger:before {
    content: "Add Track";
    margin: 7px 0 0 20px;
}

.list__item__column--right button.context-menu-trigger i {
    display: none;
}

.heading__content .actions {
    display: none;
}

